<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tour.clipBoard">

	<select id="clipCount" resultType="com.tour.dto.ClipBoardDTO">
		select distinct contentid, 
		count(*) over (PARTITION BY contentid) clipCount from clipBoard 
		order by clipCount desc
	</select>
	
	<select id="getClipCount" resultType="int">
		select nvl(count(*),0) from clipBoard where contentid=#{contentid}
	</select>
	
	<select id="myClipCount" resultType="int" parameterType="String">
		select nvl(count(*),0) from clipBoard where email=#{email}
	</select>
	
	<select id="myclip" parameterType="hashMap" resultType="int">
		select nvl(count(*),0)from clipboard where email=#{email} and contentid=#{contentid}
	</select>
	
	<select id="myclipList" parameterType="String" resultType="com.tour.dto.ClipBoardDTO">
		select contentid from clipboard where email=#{email}
	</select>
	
	<select id="maxNum" resultType="int">
	select nvl(max(clipBoardNum),0) from clipBoard
	</select>
	
	<insert id="clipInsert" parameterType="com.tour.dto.ClipBoardDTO">
	
	insert into clipBoard(clipBoardNum,email,contentid)
	values (#{clipBoardNum},#{email},#{contentid})
	
	</insert>
	
	<delete id="deletedclip" parameterType="hashMap">
	
		delete clipboard where email=#{email} and contentid=#{contentid}
	
	</delete>
	<select id="clipList" resultType="com.tour.dto.ClipBoardDTO">
      select * from 
      (select rownum rnum, data.* from
      (select distinct contentid, area,
      count(*) over (PARTITION BY contentid) clipCount from clipBoard 
      order by clipCount desc) data) 
      <![CDATA[
		   where rnum>=1 and rnum<=8
	  ]]> 
   </select>
	
<!-- <select id="getAddrData" resultType="com.tour.dto.PostDTO" parameterType="int"> 
	select seq,zipcode,sido,gugun,dong,bunji 
	from post where seq=#{seq}
</select> -->


</mapper> 