<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tour.plan">

	<insert id="planInsert" parameterType="com.tour.dto.PlanDTO">
		insert into plan (groupNum, email,title,uploadChk)
		values(#{grounNum},#{email},#{title},0)
	</insert>
	
	<select id="planMax" resultType="int">
		select nvl(max(groupNum),0) from plan 
	</select>
	
	
<!-- <select id="getAddrData" resultType="com.tour.dto.PostDTO" parameterType="int"> 
	select seq,zipcode,sido,gugun,dong,bunji 
	from post where seq=#{seq}
</select> -->


</mapper> 