@CHARSET "UTF-8";



.titleName{
	
	font-size: 20pt;
	font-weight: bold;
	margin-bottom: 5px;
	
	
}
.subtitle{
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 20px;
	color: #006583;
	
}
.indexIcon{
	
	color: #006583;
}

.clipBox{
	width: 260px; 
	height: 220px; 
	border: 1px solid; 
	border-color: #BDBDBD; 
	float: left; 
	overflow: hidden; 
	margin-left: 1%;
	margin-right: 1%; 
	margin-bottom: 3%;
}

.title{
	
	color: #000042; 
	font-size: 13pt;
	font-weight:bold;
    padding-top: 20px;
	padding-left: 20px;
	/* 
	margin-left: 5px;
 */	
	
	}
	
.clip{
	
	font-size: 10pt; 
	height:20px;
	color : #A6A6A6; 
	float: left;
}

.area{
	height:20px;
	color : #A6A6A6;
	font-size: 10pt; 
}

.contentTextBox{
	background-color:#fff;
	float:left;
	color: #01A6BC; 
	font-size: 14pt; 
	width: 260px; 
	height: 70px;
	
}
.titleBox{
	float:left;
	font-size: 14pt; 
	height: 70px;
	width: 180px;
	
}
.clipAreaBox{
	float:left;
	font-size: 14pt; 
	
    padding-top: 15px;
	
	height: 70px;
	width: 80px;
	
}

.imageBox{
	width: 260px; 
	height: 150px;
	
}
.imageBox img{
	width: 260px; 
	height: 150px;
	
}
