@CHARSET "UTF-8";
#tilesDayAdd{
	float:left;
	width: 15%;
}
#tilesPlan{
	
	width: 40%;
	float:left;
}
#tilesMapView{
	
	width: 45%;
	float:left;
}
#areaContainer{
 height:130px;
}
.day{
	padding : 5%;
}
#dayList{
	height: 90%;	
}
.dayAdd{
	background-color: #006583;
	color:#fff;
	height: 85%;
	width: 100%;
	
}
.dayCount{
	font-size: 15pt;
}
.dayAddBtn{
	width: 45%;
	margin:2%;
	padding:2%;
	float:left;
	border:1px solid #fff;
	background-color: rgba( 255, 255, 255, 0.0 );	
}

/* planList CSS */
#planList_All{
	color:#fff;
}
.listDiv{
	float: left;
	width: 50%;
}
.currentDay{
	height: 8%;
	background: #A6A6A6;
	
}

.planListBtn Button{
	
	width: 45%;
	margin:2%;
	padding:2%;
	float:left;
	border:1px solid #fff;
	background-color: #B3A197;
}
.planListBtn{
	height: 6.5%;
}
#startDurTime{
	font-size:9pt;
}
#areaList{
	color:black;
	
}
#planList{
	color:black;
	
	
}
.planList_area{
	height: 6%;
	padding: 2%;
}
.area_name{
	font-size:12pt;
	float:left;
}
.areaListBtn{
	float:left;
	border:1px solid #ccc;
	color:#ccc;
	background-color: rgba( 255, 255, 255, 0.0 );	   
}
.startPlace{
	padding-top:4%;
	padding-bottom:4%;
	padding-left:25%;
	border : 1px solid #fff;
	
}

/* 정렬부분 */

.sortable-item{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:4%;
	border : 1px solid #ccc;
	height: 14%;
}
.sortContent{
	float:left;
	width: 70%;
	margin-left:5%;
	
}
.startPlace span{
	font-size : 15pt;
	
}
.sortItem_firstImg{
	float:left;
}
.sortItem_firstImg img{
	width: 60px;
	height: 60px;
	
}
.sortItem_title span{
	font-size:13pt;
}

.sortItem_addr span{
	font-size:9pt;
}

.sortItem_time{
	float:left;
	width: 40%;
	height: 40%;
	margin-top:2%;
}
.sortBtnGroup{
	margin-top:2%;
	float:right;
}
.sortBtn{
	margin-top:2%;
}
.travel_data{
	
	font-size : 9pt;
	padding: 2%;
}
