@CHARSET "UTF-8";
.shadowAll{
	box-shadow: 0px 0px 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.3); 
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.3); 
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,.3); 
	
}
#tilesDayAdd{
	float:left;
	width: 15%;
	height: 100%;
}
#tilesPlan{
	height: 100%;
	width: 40%;
	float:left;
}
#tilesMapView{
	height: 100%;
	width: 45%;
	float:left;
}
#areaContainer{
 height:130px;
}
.day{
	padding : 8%;
}
#dayList{
	height: 80%;	
}
.dayHeader{
	text-align: center;
	padding-top:5%;
	font-size:16pt;
	border-bottom: 1px solid #fff;
	height: 8%;	
}
.dayAdd{
	background-color: #000042;
	color:#fff;
	height: 100%;
	width: 100%;
	
}
.dayCount{
	font-size: 15pt;
}
.dayAddBtn{
	width: 45%;
	margin:2%;
	padding:2%;
	float:left;
	border:1px solid #fff;
	background-color: rgba( 255, 255, 255, 0.0 );	
}

/* planList CSS */
#planList_All{
	color:#fff;
	background-color: #E8E4D9;
	height: 100%;	
}
.listDiv{
	float: left;
	width: 50%;
}
.currentDay{
	
	height: 8%;
	background: #b3a197;
	text-align: center;
	border-bottom: 1px solid #fff;
	padding-top: 4%;	
}

.planListBtn Button{
	
	width: 45%;
	margin:2%;
	padding:2%;
	float:left;
	border:1px solid #004C63;
	background-color: #7cbac9;
}
.planListBtn{
	height: 7.5%;
	background-color:#fff;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2%;
}
#startDurTime{
	font-size:9pt;
}
#areaList{
	height: 91.6%;	
	overflow-y: scroll;
	color:black;
	background-color: #fff;
}
#planList{
	color:black;
}
.planList_area{
	height: 10%;
	padding-left: 4%;
	padding-top: 2.5%;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.planList_area img{
	width: 40px;
	height: 40px;
	float: left;
	
}

.selectArea{
	text-align:center;
	padding-top:4%;
	font-size:13pt;
	height: 8%;
	background-color: #7cbac9;
	border-bottom: 1px solid #fff;
}
.area_name{
	font-size:15pt;
	padding-top:2%;
	width: 60%;
	margin-left:5%;
	float: left;
}
.areaListBtn{
	margin-top:2%;
	margin-right:5%;
	width:30px;
	height:30px;
	font-size:15pt;
	float:right;
	border:1px solid #ccc;
	color:#ccc;
	background-color: rgba( 255, 255, 255, 0.0 );	   
}
.startPlace{
	display: none; 
	margin-top:2%;
	padding-top:4%;
	padding-bottom:4%;
	padding-left:20%;
	border : 1px solid #ccc;
	background-color: #fff;
}
.startArrow{
	

}

/* 정렬부분 */

.sortable-item{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:4%;
	border : 1px solid #ccc;
	height: 14%;
	background-color: #fff;
}
.sortContent{
	float:left;
	width: 70%;
	margin-left:5%;
	
}
.startPlace span{
	font-size : 15pt;
	
}
.sortItem_firstImg{
	float:left;
}
.sortItem_firstImg img{
	width: 60px;
	height: 60px;
	
}
.sortItem_title span{
	font-size:13pt;
}

.sortItem_addr span{
	font-size:9pt;
}

.sortItem_time{
	float:left;
	width: 40%;
	height: 40%;
	margin-top:2%;
}
.sortBtnGroup{
	margin-top:2%;
	float:right;
}
.sortBtn{
	margin-top:2%;
}
.travel_data{
	
	font-size : 9pt;
	padding: 2%;
}

/* infoWindow 디자인 */
.clipMapViewInfoWindow{
	width: 95%;
	overflow: hidden;
}
.clipMapViewInfoWindow div{
	font-size:13pt;
	text-align : center;
	width: 100%;
}
.clipMapViewInfoWindow img{
	width:135px; 
	height:100px;
}
.clipMapViewInfoWindow button{
	color:#fff;
	border:1px solid #fff;
	background-color: #FF7012;
	width: 100%;
}
/* 지역 clipList */

.clipMapView_info{
	width: 100%;
	height: 61px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.clipMapViewContent{
	margin-top: 5%;
}
.clipMapView_info_Header{
	width: 100%;
	height:8%;
	color:#fff;
	font-size:15pt;
	background-color: #000042;
}
.clipMapView_info img{
	width: 60px;
	height: 60px;
	float: left;
	
}
.clipMapView_info_title{
	width: 70%;
	margin-left:5%;
	float: left;
	
}
.clipMapView_info_span{
	color:#ccc;
	float: right;
	margin-right: 2%;
}

#clipMapViewContentType{
	padding-left: 10%;
	border-bottom:1px solid #ccc;
	padding-top:2px;
	height:50px;
}
.contentTypeDetails{
	margin-right:5%;
	width:45px;
	height:45px;
	border: 1px solid #ccc;
	border-radius:50px;
	float: left;
	text-align:center;
}
.contentTypeDetails span{
	font-size:15pt;
	color:black;
	margin-top: 25%;
}



